<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title><%= climbgyms.name %></title>
  </head>
  <body class="d-flex flex-column justify-content-center text-center p-4">
    <a href="/" class="text-center p-4">Home</a>
    <h1><%= climbgyms.name %></h1>
    <h3><%= climbgyms.address %></h3>
    <h3>Single entry price: <%= climbgyms.singleEntryPrice %></h3>
    <p>
      Boulder Facilities: <%= climbgyms.boulder ? "Available" : "Unavailable" %>
    </p>
    <p>
      High Wall Facilities: <%= climbgyms.highWall ? "Available" : "Unavailable"
      %>
    </p>
    <form action="/gyms/<%= climbgyms._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= climbgyms.name %></button>
    </form>
    <a href="/gyms/<%= climbgyms._id%>/edit">Edit <%= climbgyms.name %></a>
  </body>
</html>
